
header {
	background-color: #373f4a;
	color: #ffffff;
}

header {
	background: #373f4a;
	text-align: center;
	color: #fff;
	margin-top: 0em;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-bottom: 0em;
}

body{
	background-color: #f1f3f5;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	color: #333;
}

section{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

.content{
	padding-top: 3em;
	max-width: 600px;
	min-width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
}