@font-face {
	font-family: "DroidSans";
	src: url("fonts/DroidSans.ttf");
	font-style: normal;
}
@font-face {
	font-family: "Conv_MuseoSans-300";
	src: url("fonts/MuseoSans-300.ttf");
	font-weight: normal;
	font-style: normal;
}

h1 {
	line-height: 1.4em;
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		font-size: 4em;
		line-height: 1.4em;
	}
}

h2 {
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		font-size: 3em;
	}
}

h3 {
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		font-size: 2em;
	}
}

.post-meta{
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		font-size: 2em;
	}
}
body {
	font-family: Conv_MuseoSans-300;
	font-size: 17px;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		font-size: 2em;
	}
	p {
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
			font-size: 2em;
			line-height: 1.5em;
		}
	}
}
code {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-weight: 0.5;
	font-size: 12px;
}
code.hljs {
	font-size: 12px;
}
pre {
	code {
		font-size: 13px;
	}
}
.tiny {
	font-size: 0.75em;
}
