<article class="post">
	<div class="about-content">
		<div class="blurb">
			<p>I solve problems with software. Oftentimes the problem is the software itself. </p>
 			<p>I solve problems with software. Oftentimes the problem is the software itself. </p>
		</div>
		<div class="image-container">
			<img src="/images/my_avatar.jpeg">
		</div>
	</div>
</article>
