<div class="about-content">
	<div class="blurb">Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.Yep, that's me.
	</div>
	<div class="image-container">
		<img src="/images/about.jpg">
	</div>
</div>