<article class="post">
	<div class="about-content">
		<div class="blurb">
			<p>Yep, that's me.</p>
			<p>
				My name is Roumen Pavlov and I'm living & loving life in Toronto. Feels good, man.
			</p>
			<p>
				After completing a Computer Science degree at the University of Toronto I jumped into web development, which remains my trade and professional passion. I'm crazy about Ruby on Rails & Javascript, and constantly striving to improve myself. Currently available for hire; shoot me an email at roumen [at] rpavlov.com
			</p>
			<p>
				I have a lot of ancillary interests and hobbies, some overlapping and others apropos of nothing. I like minimalism, mindfulness, meditation, and any other "m" that's good for the mind.
			</p>
		</div>
		<div class="image-container">
			<img src="/images/about.jpg">
		</div>
	</div>
</article>