<article class="post">
	<div class="about-content">
		<div class="blurb">
			<p>Yep, that's me.</p>
			<p>
				My name is Roumen Pavlov and I'm living & loving life in Toronto. Feels good, man.
			</p>
			<p>
				After completing a Computer Science degree at the University of Toronto I jumped into web development, which remains my trade and professional passion. I'm crazy about Ruby on Rails & Javascript, and constantly striving to improve myself. Currently having a blast building Tickit for <a href="http://www.shifthealth.ca">Shifthealth.com</a>
			</p>

		</div>
		<div class="image-container">
			<img src="/images/about.jpg">
		</div>
	</div>
</article>